.miniCard #miniCard-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 218px;
  width: 230px;
  margin: 0;
  text-align: center;
}

.miniCard img {
  margin: 0;
  padding: 0;
}

#miniStars {
  margin-top: 1.5rem;
}

.miniCard {
  background-color: rgba(128, 128, 128, 0.171);
  padding-bottom: 1rem;
}
